{{define "header"}}
<header>
    <nav>
        <button>
            <svg class="icon icon-sm-in">
                <use xlink:href="#inbox"></use>
            </svg>
            <button>Inbox</button>
            <button>Sent</button>
            <button>Trash</button>
        </button>
        <button>Settings</button>
    </nav>
</header>
{{end}}