<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu principal</title>
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    {{template "svgs"}}

    {{template "header"}}

    <div id="atf">
        <main>
            <svg class="icon icon-big-in">
                <use xlink:href="#inbox"></use>
            </svg>
        </main>
    </div>

    {{template "btf"}}
</body>
</html>