<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size: 16px">{{.Name}}</h1>
    <h2 style="font-size: 16px">{{.Age}}</h2>
    <h4 style="font-size: 16px">{{.Someprocessing}}</h4>
    <h5 style="font-size: 16px">{{.AgeDbl}}</h5>
    <h6 style="font-size: 16px">{{.AgeDbl | .TakesArg}}</h6>
</body>
</html>