<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template - Pipeline</title>
</head>
<body>
    {{. | fdobro}}

    {{. | fdobro | fpotencia}}

    {{. | fdobro | fpotencia | fraizQuadrada}}
</body>
</html>