<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates Aninhados</title>
</head>
<body>
    <h1 style="font-size:16px">O significado da vida: {{.}}</h1>
    <p>{{template "ursopolar"}}</p>
    <h2 style="font-size:16px">Empresa: {{template "nomeempresa"}}</h2>    
    <h3 style="font-size:16px">Programador: {{template "nomeprogramador"}}</h3>
</body>
</html>