<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template com Struct - Por Variável</title>
</head>
<body>
    <ul>
        {{range .}}
        <li>{{.Nome}}  -  {{.Lema}}</li>
        {{end}}
    </ul>
</body>
</html>