<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template com variáveis</title>
</head>
<body>
    
{{$wisdom := .}}
<h1>O que significa a vida é: {{$wisdom}}</h1>
</body>
</html>