<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>
<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
{{if .LicenceToKill}}
<h3> Licence to kill</h3>
{{else}}
<h3>Licence to ill</h3>
{{end}}
</body>
</html>