<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{.Fail.Term}}<br>
{{range .Fail.Courses}}
{{.Number}} - {{.Name}} -  {{.Units}}<br>
{{end}}

{{.Spring.Term}}<br>
{{range .Spring.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}
</body>
</html>