<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template lista de struct</title>
</head>
<body>
    <ul>
        {{range .}}
        <li style="color: blue; font-size: 2em">{{.Nome}} - {{.Lema}}</li>
        {{end}}
    </ul>
</body>
</html>